/*
.mydp .selection,
.mydp .weekdaytitle,
.mydp .monthinput,
.mydp .yearinput {
    font-weight: normal;
}


.mydp .weekdaytitle {
    color: #000;
}


.mydp,
.mydp .selectiongroup,
.mydp .selection,
.mydp .selector {
    border-radius: 4px;
}

.mydp .btnpicker {
    border-radius: 0 4px 4px 0;
}
*/